#root {
    display: flex;
    justify-content: center;
}

/*Uncomment the style for the board to play chess in a way more visually challenging way*/
/*#board {*/
    /*display: flex;*/
    /*margin: 0 auto;*/
/*}*/

.row div {
    vertical-align: top;
    display: inline-flex;
}

.square {
    width: 64px;
    height: 64px;
    transition: border 0.25s;
}

.highlighted {
    border: 2px cornflowerblue solid;
}

.highlighted2 {

}

.selected {
    border: 2px mediumseagreen solid;
}

.innerSquare {
    width: 60px;
    height: 60px;
    position: absolute;
}
