#root {
    display: flex;
    justify-content: center;
}

#app_wrapper {
    display: flex;
}

/*Uncomment the style for the board to play chess in a way more visually challenging way*/
/*#board {*/
    /*display: flex;*/
    /*margin: 0 auto;*/
/*}*/

.row div {
    vertical-align: top;
    display: inline-flex;
}

/* squares */
.square {
    width: 64px;
    height: 64px;
    transition: border 0.25s;
    /* so that the piece doesn't move on select */
    box-sizing: border-box;
    border: 2px transparent solid;
    background-position: left -1px center;
}

.square.dark {
    background-color: saddlebrown;
}

.square.light {
    background-color: wheat;
}

.highlighted {
    border: 2px cornflowerblue solid;
}

.highlighted2 {

}

.legalMoveHighlight {
    border: 2px darkseagreen dashed;
}

.selected {
    border: 2px mediumseagreen solid;
}

/* right panel */
#right_panel {
    display: flex;
    flex-direction: column;
    width: 250px;
}

#right_panel > div {
    flex-grow: 1;
    padding: 10px;
}

#move_history_panel {
    background-color: whitesmoke;
}

#captured_pieces_panel {
    background-color: cornflowerblue;
}