#root {
    display: flex;
    justify-content: center;
}

/*Uncomment the style for the board to play chess in a way more visually challenging way*/
/*#board {*/
    /*display: flex;*/
    /*margin: 0 auto;*/
/*}*/

.row div {
    vertical-align: top;
    display: inline-flex;
}

.square {
    width: 64px;
    height: 64px;
    transition: border 0.25s;
}

.highlighted {
    border: 2px cornflowerblue solid;
}

.highlighted2 {

}

.selected {
    border: 2px mediumseagreen solid;
}

.white {
    background: wheat;
}

.black {
    background: saddlebrown;
}

.piece {
    width: 60px;
    height: 60px;
}

.b {
    background: url("pieces/b-b.png") no-repeat center;
}

.B {
    background: url("pieces/w-B.png") no-repeat center;
}

.k {
    background: url("pieces/b-k.png") no-repeat center;
}

.K {
    background: url("pieces/w-K.png") no-repeat center;
}

.n {
    background: url("pieces/b-n.png") no-repeat center;
}

.N {
    background: url("pieces/w-N.png") no-repeat center;
}

.p {
    background: url("pieces/b-p.png") no-repeat center;
}

.P {
    background: url("pieces/w-P.png") no-repeat center;
}

.q {
    background: url("pieces/b-q.png") no-repeat center;
}

.Q {
    background: url("pieces/w-Q.png") no-repeat center;
}

.r {
    background: url("pieces/b-r.png") no-repeat center;
}

.R {
    background: url("pieces/w-R.png") no-repeat center;
}
